* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav-item {
    cursor: pointer;
}

#alertContainer {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 300px;
    z-index: 9999;
}

#toastContainer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 300px;
    z-index: 9999;
}

.task-card:hover{
    cursor: grab;
}
